.header {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    justify-content: space-between;
   }

   
body {
       background-color: rgb(26, 73, 175);
       margin: 0;
       padding: 0;
   }

h1 {
    color: rgb(82, 215, 224);
   }

.restaurant li {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 800px;
    padding: 0px 16px;
    background-color: rgb(121, 70, 128);
}


@media screen and (max-width: 550px) {
    .restaurant li {
        max-width: 550px;
    }
}