body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    
    background-color: rgb(53, 224, 182);
    padding: 0;
    font-family: 'Baloo 2', cursive;
    margin-left: 7%;
   }

h1 {
    color: rgb(18, 66, 128);
   }

.restaurant{
    flex: 0 1 auto;
    border-radius: 4px;
    max-width: 800px;
    background: linear-gradient(#658eda, #da91ec);
    padding-bottom: 10px;

}
.textinput {
    width: 800px;
    height: 30px;
}

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
    padding-top: 10px;
}
p, h2 {
    margin: 8px;
}

@media screen and (max-width: 550px) {
    .textinput {
        width: 45%;
    }
    .restaurant li {
        max-width: 550px;
    }
}